.checkout-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;
    justify-content: center;
    padding-left: 5%;
    font-family: Pacifico; 
}

.TeaSsortment{
    font-family: lato;
    font-size: 25px;
}

button{
    background-color:aquamarine;
}

