.map-container {
   display: flex;
   flex-direction: row;
   gap: 15%;
   margin-top: 8%;
   margin-left: 5%;
   margin-right: 35%;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   size: 10px;
  }

  
.storeInfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap:15%;
} 

/* .operationInfo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:20%;
} */

.mapIcon{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}